* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0b1c2d;
    color: white;
}

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00bfff;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00bfff;
}

/* HERO */

.hero {
    height: 100vh;
    background: linear-gradient(to right, #081420, #0b1c2d);
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.hero-content h1 {
    font-size: 60px;
}

.hero-content h1 span {
    color: #00bfff;
}

.hero-content p {
    margin-top: 20px;
    color: #cfd8dc;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #00bfff;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* SECTION BASE */

.section {
    padding: 100px 8%;
    text-align: center;
}

.dark {
    background: #0f2235;
}

.section h2 {
    margin-bottom: 40px;
    color: #00bfff;
}

/* GRID */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* BOX */

.box {
    background: #112a44;
    padding: 30px;
    border-radius: 10px;
    transition: 0.4s;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00bfff;
}

/* SKILL */

.skill {
    background: #112a44;
    padding: 15px;
    border-radius: 5px;
}

/* STATS */

.stats {
    display: flex;
    justify-content: space-around;
    padding: 80px 8%;
    background: #081420;
    text-align: center;
}

.stats h3 {
    font-size: 40px;
    color: #00bfff;
}

/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
    background: #06101a;
    color: #aaa;
}

/* RESPONSIVE */

@media(max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .stats {
        flex-direction: column;
        gap: 30px;
    }
}